plotly
dash
pandas
numpy
openpyxl
matplotlib
seaborn
scikit-learn
geopy
geopandas
folium
branca
nbformat
ipykernel
requests
dash_renderer
dash-html-components
dash-core-components
gunicorn
dash-bootstrap-components
dash_daq